* {
  font-family: 'Hi Melody', cursive;
  font-weight: 400;
  color: #555;
}
html {
	height: 100%;
}
body {
  min-height: 100%;
  background-image: url('../images/나무결.png');
  background-size: auto;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  perspective: 1000px;

}
a {
  text-decoration: none;
  color: dodgerblue;
}
h2 {
  font-size: calc(1.2vw + 1rem);
}
.header-content{
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.book{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display:flex;
  width: 50vw;
  height: 80vh;
  margin: auto;
  transform-style: preserve-3d;
}


.book-list {
  /* position: absolute;
  top: 0;
  left: 0;
  right:0; 
  bottom: 0; */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: scale(0.3);
  transition: 1s;
}
.book-item {
  position: absolute;
  top: 0;
  left: 0;
  right:0; 
  bottom: 0;
  transform-style: preserve-3d;
  transition: 1s;
  transform-origin: left;
}
#header-page{
  background: cornsilk;
}
.book-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid rgb(179, 179, 167);
  background: rgb(247, 247, 247);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transform-style: preserve-3d; */
  backface-visibility: hidden;
  padding: 1rem;
}
.book-face h1 {
  font-size: calc(3vw + 2rem);
  font-family: 'Ranchers', cursive;
  color: #444;
}
.book-face p {
  margin-top: 1rem;
  font-size: calc(0.8vw + 1rem);
  padding: 0 2rem;
}
.book-spring {
  height: 100%;
  width: 20px;
}
.spring-item {
  position: relative;
  top: 0;
  left: -10px;
  width: 20px;
  height: 0.5%;
  background: black;
  margin: 1.5rem 0;
  z-index: 30;
}
.book-face:nth-child(2){
  transform: rotateY(180deg);
  background: rgb(233, 233, 233);
}
.current-book .book-item.book-flipped {
  transform: rotateY(-150deg);
}
.pen {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  transform-style: preserve-3d;
  transform: rotateZ(45deg);
  width: 500px;
}
.insta-img {
  height: 50vh;
}
.move-back-button {
  position: absolute;
  cursor: pointer;
  right:3rem;
  top: 2rem;
  font-size: 2rem;
  color: dodgerblue;
}
.account-book{
  height: 50vh;
}
.close-button{
  position: absolute;
  right: 0;
  top: -2rem;
  font-size: 2rem;
  cursor: pointer;
  display:none;
}
.secret {
  display:block;
  width:30px;
  height:30px;
  position: absolute;
  top:0;
  left:0;
}
@media (max-width:600px) {
  .book {
    width: 80vw;
  }
} 